@use "../general.scss/general";
@use "../header.scss/mobile-header";
@use "../nav.scss/mobile_nav";
@use "../footer.scss/footer";

#about-body {
  display: grid;
  grid-template-rows: 80px 50px 1fr;
  min-height: 100vh;
  width: 100%;
}

h1 {
  color: red;
}



// ABOUT SECTION ---------------
#about_toggle{
    display: grid;
    grid-template-rows: 100px;
    margin-top: 40px;
}


#about_nav {
  display: grid;
  text-align: center;
  grid-template-columns: 0.8fr 1fr;

  margin: 35px 0;
  height: 50px;
}

#about_section {
  display: grid;
  text-align: center;

  margin: 45px;

}
// About Nav Toggle Function
.nav_radio_button {
  display: none;
}

#our_products {
    display: none;
  }

#products:checked ~ #about_section > #our_products {
  display: block;
}

#products:checked ~ #about_section > #our_story {
    display: none;
}


// ANIMATING THE TEXT ----------------------------


@keyframes textFade {
    0%{
      
      opacity: 0;
    }
    100%{
        
      opacity: 100%;
  }
    
  }
  
 #about_section p {
    font-family: monospace;
    animation: textFade 5s steps(60, start)
  }