@use "../general.scss/general";
@use "../header.scss/mobile-header";
@use "../nav.scss/mobile_nav";
@use "../footer.scss/footer";

@use "../tablet-styling.scss/tablet-styling";

#about-body {
  display: grid;
  grid-template-rows: 185px;
  /* background-image: url(/images/background2.jpg);*/
  background-size: 910px;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

#about-main {
  display: grid;
  grid-template-rows: 1fr;
  margin-bottom: 35px;
}

h1 {
  color: blue;
}

// ABOUT SECTION ---------------
#about_toggle {
  display: grid;
  grid-template-rows: 100px;
  margin-top: 40px;
}

#about_nav {
  display: grid;
  text-align: center;
  grid-template-columns: 0.8fr 1fr;

  margin: 35px 0;
  height: 50px;
}

#about_section {
  display: grid;
  text-align: center;

  margin: 45px;
}
// About Nav Toggle Function
.nav_radio_button {
  display: none;
}

#our_products {
  display: none;
}

#products:checked ~ #about_section #our_products {
  display: block;
}

#products:checked ~ #about_section #our_story {
  display: none;
}

#products:checked ~ #about_section > div > img {
  transform: translateX(-50px) translateY(-41px) scaleY(1);
}
// ANIMATING THE TEXT ----------------------------

@keyframes textFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

#about_section p {
  font-family: monospace;
  animation: textFade 5s steps(60, end);
}

// SCROLL IMAGE --------
#scroll {
  display: grid;
  position: absolute;
  z-index: -1;
  transform: translateX(-50px) translateY(205px) scaleY(2);
}

// MEDIA QUERIES -------------

@media only screen and (min-width: 600px) {
  // TABLET

  #our_products {
    width: 70%;
    padding-left: 15%;
  }

  #products:checked ~ #about_section > div > img {
    transform: translateX(-50px) translateY(-387px) scaleY(0.4);
  }

  #scroll {
    display: grid;
    position: absolute;
    z-index: -1;
    transform: translateX(-50px) translateY(-341px) scaleY(0.6);
  }

  #our_story {
    width: 70%;
    padding-left: 15%;
  }
}

@media only screen and (min-width: 1000px) {
  // DESKTOP
  #scroll {
    transform: translateX(-50px) translateY(-724px) scaleY(0.3);
  }

  #products:checked ~ #about_section > div > img {
    transform: translateX(-50px) translateY(-712px) scaleY(0.3);
  }
}
