@use "../general.scss/general";
@use "../header.scss/mobile-header";
@use "../footer.scss/footer";

@use "../tablet-styling.scss/tablet-styling";

// TRANSITIONS------
@keyframes shopUp {
  from {
    bottom: -135px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes aboutUp {
  from {
    bottom: -90px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes contactUp {
  from {
    bottom: -40px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

#menu_open:checked ~ #close #mobile_menu {
  > #shop {
    position: relative;
    animation: shopUp 3s ease-out;
  }

  > #about {
    position: relative;
    animation: aboutUp 3s ease-out;
  }

  > #contact {
    position: relative;
    animation: contactUp 3s ease-out;
  }
}

#index-body {
  display: grid;
  grid-template-rows: auto 1fr;
  background-image: url(/images/background2.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
  width: 100%;
}
// MENU DEFAULT CLOSE

#mobile_main {
  background-image: url(/images/menu_cauldron.png);
  background-position: center;
  background-size: cover;
}

#cauldron {
  display: grid;
  place-items: center;
  height: 90%;

  .menu_radio_button {
    display: none;
  }

  label {
    display: grid;
    place-items: center;
    > #indexburger {
      width: 25%;
    }
    > #menu_close_icon {
      width: 25%;
    }
  }

  #close {
    display: none;
  }
}
#mobile_menu a {
  font-size: 1.7rem;
}
// WHEN MENU IS CLICKED OPEN ---------------

#menu_open:checked {
  ~ #mobile_menu {
    display: grid;
    height: 20%;
  }
  ~ #menu_close_icon {
    display: grid;
  }
  ~ label > #indexburger {
    display: none;
  }
  ~ #close {
    display: grid;
  }
  ~ #open {
    display: none;
  }
}

#menu_open:checked #menu_close_img {
  display: grid;
}

#menu_open:checked ~ #close #mobile_menu {
  position: absolute;
  top: 220px;
  left: 0px;
  z-index: 10;

  display: grid;
  place-items: center;

  width: 100%;
  height: 145px;
  color: black;
}

// MEDIA QUERIES ---------------------

@media only screen and (min-width: 600px) {
  // TABLET VIEW ---------------------
  #index-body {
    grid-template-rows: auto 1fr;
  }

  #index_main {
    background-size: contain;
    background-repeat: repeat;
  }

}
/*#tablet-menu {
  > #c-home,
  #i-shop,
  #s-home,
  #a-home {
    justify-self: end;
    padding: 15px;
  }
  > #i-contact,
  #s-contact,
  #a-contact,
  #c-about {
    justify-self: start;
  }
}
*/

#tablet-menu{
  display:none;
}
#index_nav{
  display: grid;
  grid-template-columns: auto auto auto;
  place-items: center;
  text-align: center;

  font-size: 2.5rem;
}

#tablet_main {
  display: grid;
  background-image: url(/images/crystalBall.png);
  background-position: center;
  background-size: cover;
  .nav_radio_button {
    display: none;
  }
}

 #crystal {
    display: grid;
    place-items: center;
    height: 90%;
    font-size: 3rem;
    text-align: center;

    > #shopop {
      display: none;
    }
    > #aboutop {
      display: none;
    }
    > #contactUs {
      display: none;
    }
  }


  #shop_list:checked ~ #crystal > #shopop {
    display: grid;
    row-gap: 25px;
  }
  #about_list:checked ~ #crystal > #aboutop{
    display: grid;
    row-gap: 25px;
  }
  #contact_list:checked ~ #crystal > #contactUs{
    display: grid;
    row-gap: 25px;
  }


@media only screen and (min-width: 1000px) {
  #tablet_main,
  #tablet-menu {
    display: none;
  }

  #desktop_main {
    display: grid;
    min-height: 80vh;

    > #tarot {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    > #tarot > div {
      display: grid;
      img {
        width: 80%;
      }
    }
  }
  .flip_card {
    background: transparent;
    width: 80%;
  }
  .flip_card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip_card:hover .flip_card_inner {
    transform: rotateY(180deg);
  }
  .flip_card_front,
  .flip_card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .flip_card_back {
    display: grid;
    place-items: center;
    width: 70%;
    height: 70%;
    border-radius: 30px;

    background-color: rgb(247, 242, 234);
    color: white;

    transform: rotateY(180deg);
  }
}
