* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  display: grid;
  min-height: 100vh;
  width: 100%;
}

img {
  width: 100%;
}

h1 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
}

p {
  font-size: 1.9rem;
}

@media only screen and (min-width: 600px) {
  menu > a {
    font-size: 2.5rem;
  }
}
#top-header {
  display: grid;
  grid-template-rows: 110px 65px;
}
#top-header > #social-media {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;
  -moz-column-gap: 7px;
       column-gap: 7px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  place-items: center;
}
#top-header > #social-media > a {
  width: 60%;
}
#top-header > #social-media > a:nth-child(1) {
  justify-self: end;
}
#top-header > #social-media > a:nth-child(3) {
  justify-self: start;
}
#top-header > img {
  width: 80%;
  text-align: center;
  justify-self: center;
  padding: 10px;
}

@media only screen and (min-width: 600px) {
  #top-header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
  }
  #top-header > #social-media {
    justify-self: end;
    align-self: center;
  }
}
footer {
  display: grid;
  text-align: center;
  row-gap: 10px;
  padding: 15px;
}
footer #footer-div {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin: 10px;
}
footer #footer-div span {
  padding: 2px;
  background-color: pink;
  height: 20px;
  width: 20px;
  border-radius: 100px;
}
footer #footer-div a {
  font-size: 1.5rem;
  justify-self: start;
}

#tablet-menu,
#tablet_main {
  display: none;
}

@media only screen and (min-width: 600px) {
  #mobile_main {
    background-image: none;
    display: none;
  }

  #hamburger_menu {
    display: none;
  }

  #tablet_main {
    display: grid;
  }

  #tablet-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    text-align: center;
  }
}
@-webkit-keyframes shopUp {
  from {
    bottom: -135px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes shopUp {
  from {
    bottom: -135px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
@-webkit-keyframes aboutUp {
  from {
    bottom: -90px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes aboutUp {
  from {
    bottom: -90px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
@-webkit-keyframes contactUp {
  from {
    bottom: -40px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes contactUp {
  from {
    bottom: -40px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
#menu_open:checked ~ #close #mobile_menu > #shop {
  position: relative;
  -webkit-animation: shopUp 3s ease-out;
          animation: shopUp 3s ease-out;
}
#menu_open:checked ~ #close #mobile_menu > #about {
  position: relative;
  -webkit-animation: aboutUp 3s ease-out;
          animation: aboutUp 3s ease-out;
}
#menu_open:checked ~ #close #mobile_menu > #contact {
  position: relative;
  -webkit-animation: contactUp 3s ease-out;
          animation: contactUp 3s ease-out;
}

#index-body {
  display: grid;
  grid-template-rows: auto 1fr;
  background-image: url(/images/background2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

#mobile_main {
  background-image: url(/images/menu_cauldron.png);
  background-position: center;
  background-size: cover;
}

#cauldron {
  display: grid;
  place-items: center;
  height: 90%;
}
#cauldron .menu_radio_button {
  display: none;
}
#cauldron label {
  display: grid;
  place-items: center;
}
#cauldron label > #indexburger {
  width: 25%;
}
#cauldron label > #menu_close_icon {
  width: 25%;
}
#cauldron #close {
  display: none;
}

#mobile_menu a {
  font-size: 1.7rem;
}

#menu_open:checked ~ #mobile_menu {
  display: grid;
  height: 20%;
}
#menu_open:checked ~ #menu_close_icon {
  display: grid;
}
#menu_open:checked ~ label > #indexburger {
  display: none;
}
#menu_open:checked ~ #close {
  display: grid;
}
#menu_open:checked ~ #open {
  display: none;
}

#menu_open:checked #menu_close_img {
  display: grid;
}

#menu_open:checked ~ #close #mobile_menu {
  position: absolute;
  top: 220px;
  left: 0px;
  z-index: 10;
  display: grid;
  place-items: center;
  width: 100%;
  height: 145px;
  color: black;
}

@media only screen and (min-width: 600px) {
  #index-body {
    grid-template-rows: auto auto 1fr auto;
  }

  #tablet-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    text-align: center;
  }
  #tablet-menu > #c-home,
#tablet-menu #i-shop,
#tablet-menu #s-home,
#tablet-menu #a-home {
    justify-self: end;
    padding: 15px;
  }
  #tablet-menu > #i-contact,
#tablet-menu #s-contact,
#tablet-menu #a-contact,
#tablet-menu #c-about {
    justify-self: start;
  }

  #tablet_main {
    display: grid;
    background-image: url(/images/crystalBall.png);
    background-position: center;
    background-size: cover;
  }
  #tablet_main > #crystal {
    display: grid;
    place-items: center;
    height: 90%;
  }
  #tablet_main > #crystal > #shopop {
    display: none;
  }
  #tablet_main > #crystal > #aboutop {
    display: none;
  }
  #tablet_main > #crystal > #contactUs {
    display: none;
  }
}/*# sourceMappingURL=index_main.css.map */