@use "../general.scss/general";
@use "../header.scss/mobile-header";
@use "../footer.scss/footer";

#index-body {
  display: grid;
  grid-template-rows: 100px 1fr;

  min-height: 100vh;
  width: 100%;
}

#cauldron {
  display: grid;
  place-items: center;
  height: 90%;

  label {
    display: grid;
    place-items: center;
    > #indexburger {
      width: 15%;
    }
  }

   #menu_open_img {
    display: none;
  }

  #menu_close{
    display: none;
  }

  .menu_radio_button {
    display: none;
  }
  #mobile_menu {
    position: absolute;
    top: 170px;
    left: 0px;
    z-index: 10;

    display: none;
    place-items: center;

    width: 100%;
    height: 100%;
    color: black;
  }
  #menu_open:checked ~ #mobile_menu {
    display: grid;
    height: 20%;
  }

  #menu_open_img {
    display: none;
  }

  #menu_open:checked ~ label > #menu_open_img {
    display: grid;
  }

  #menu_open:checked ~ label > #indexburger {
    display: none;
  }

  #menu_open:checked ~ #menu_close{
    display: grid;
  }

}

