@use "../header.scss/mobile-header";
@use "../footer.scss/footer";
@use "../nav.scss/mobile_nav";

@use "../tablet-styling.scss/tablet-styling";

p {
  margin: 0 20px;
}

h1 {
  color: red;
}
h3 {
  font-size: 2rem;
}

#contacts-body {
  display: grid;
  grid-template-rows: 140px 130px 1fr;

  min-height: 100vh;
  width: 100%;
}

main {
  display: grid;
  grid-template-rows: 7vh 5vh 4vh 6vh 20vh 40vh;
  text-align: center;
  margin: 40px 0;
}
iframe {
  width: 90%;
  height: 100%;

  place-self: center;
}

// MEDIA QUERIES -----------

@media only screen and (min-width: 600px) {
  main {
    grid-template-rows: 7vh 5vh 4vh 6vh 7vh 40vh;
  }
}
@media only screen and (min-width: 1000px) {
  main {
    grid-template-rows: 7vh 11vh 8vh 16vh 20vh 120vh 80vh;
  }

  #contacts-body {
    grid-template-rows: 185px 130px 1fr;
  }

  iframe {
    width: 60%;
    height: 80%;
  }
}
