@use "../header.scss/mobile-header";
@use "../footer.scss/footer";
@use "../nav.scss/mobile_nav";

h1{
    color: red;
}

#contacts-body {
    display: grid;
    grid-template-rows: 100px 100px 1fr;
  
    min-height: 100vh;
    width: 100%;
  }

  main{
    display: grid;
    grid-template-rows: 7vh 3vh 3vh 6vh 9vh;;
    text-align: center;
    margin: 40px 0;
}
  iframe{
    width: 100%;
    height: 100%;
  }