/* MENU TOGGLE --------------- */

a {
  font-size: 1.7rem;
}

#hamburger_menu {
  margin-top: 40px;
}

.menu_radio_button {
  display: none;
}

#mobile_menu {
 
  z-index: 10;

  display: none;
  place-items: center;
  width: 100%;
  color: black;
}
#menu_open:checked ~ #mobile_menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    margin: 0 -10px;


}

#navburger_close {
  display: none;
}

#menu_open:checked ~ label > #navburger_close {
  display: grid;
}

#menu_open:checked ~ label > #navburger_open {
  display: none;
}

.ham {
  display: grid;
  place-items: center;
}

label > img {
  width: 20%;
}

#menu_close:checked ~ #menu_open {
  display: none;
}
