@use "../header.scss/mobile-header";
@use "../footer.scss/footer";
@use "../nav.scss/mobile_nav";

@use "../tablet-styling.scss/tablet-styling";

#shop-body {
  display: grid;
  grid-template-rows: 140px 100px 1fr;
  background-color: slategray;

  min-height: 100vh;
  width: 100%;
}


main {
  margin-top: 75px;
}

// SHOP NAV MENU STYLING -------------------
#shop_toggle {
  display: grid;
}

#shop_nav {
  overflow-x: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 15px;

  width: 100vw;
  font-size: 2rem;

  > label {
    padding: 10px;
    text-shadow: 2px 2px dodgerblue;
  }
}

// SHOP NAV TOGGLE -------------------------------

.nav_radio_button {
  display: none;
}

#category_brooms,
#category_potions,
#category_ingredients,
#category_spellbooks,
#brooms_description,
#potions_description,
#ingredients_description,
#spellbooks_description {
  display: none;
}

#brooms:checked ~ #shop_section {
  > #category_brooms {
    display: grid;
    place-self: center;
  }
  > #brooms_description{
    display: block;
  }

  > #category_cauldrons,
  #cauldron_description {
    display: none;
  }
}

#potions:checked ~ #shop_section {
  > #category_potions {
    display: grid;
  }
  > #potions_description{
    display: block;
  }

  > #category_cauldrons,
  #cauldron_description,
  #brooms_description {
    display: none;
  }
}

#ingredients:checked ~ #shop_section {
  > #category_ingredients {
    display: grid;
  }
  > #ingredients_description{
    display: block;
  }

  > #category_cauldrons,
  #cauldron_description,
  #brooms_description,
  #potions_description {
    display: none;
  }
}

#spellbooks:checked ~ #shop_section {
  > #category_spellbooks {
    display: grid;
  }
  > #spellbooks_description{
    display: block;
  }

  > #category_cauldrons,
  #cauldron_description,
  #brooms_description,
  #potions_description,
  #ingredients_description {
    display: none;
  }
}

// SHOP ITEMS SECTION STYLING -------------------
.category{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.description {
  padding: 20px;
  background-color: rgb(188 188 188 / 60%);
  text-shadow: 1px 2px steelblue;
}

.category {
  display: grid;
  place-items: center;
}

article {
  display: grid;
  place-items: center;
  text-align: center;
  grid-template-rows: 1fr 335px;

  background: radial-gradient(black, transparent);
  padding: 20px;
  width: 90%;


}

#shop_section {
  img {
  
    border-radius: 70px;
   
    width: 100%;
    height: 90%;

  }
}

