* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  display: grid;
  min-height: 100vh;
  width: 100%;
}

img {
  width: 100%;
}

h1 {
  font-size: 2rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  font-size: 1.7rem;
}

#top-header {
  display: grid;
  grid-template-rows: 110px 65px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#top-header > #social-media {
  display: grid;
  grid-template-columns: 70px 70px 70px;
  justify-self: center;
  -moz-column-gap: 7px;
       column-gap: 7px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#top-header > #social-media > p {
  text-align: center;
  background-color: pink;
  height: 20px;
  width: 20px;
  border-radius: 100px;
  padding: 2px;
}
#top-header > img {
  width: 80%;
  text-align: center;
  justify-self: center;
  padding: 10px;
}

footer {
  display: grid;
  text-align: center;
  row-gap: 10px;
  padding: 15px;
}
footer #footer-div {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin: 10px;
}
footer #footer-div span {
  padding: 2px;
  background-color: pink;
  height: 20px;
  width: 20px;
  border-radius: 100px;
}
footer #footer-div a {
  font-size: 1.5rem;
  justify-self: start;
}

/* MENU TOGGLE --------------- */
a {
  font-size: 1.7rem;
}

#hamburger_menu {
  margin-top: 40px;
}

.menu_radio_button {
  display: none;
}

#mobile_menu {
  position: absolute;
  top: 270px;
  left: 25px;
  z-index: 10;
  display: none;
  place-items: center;
  color: black;
}

#menu_open:checked ~ #mobile_menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#menu_open:checked ~ #mobile_menu > #home {
  justify-self: end;
}

#navburger_close {
  display: none;
}

#menu_open:checked ~ label > #navburger_close {
  display: grid;
}

#menu_open:checked ~ label > #navburger_open {
  display: none;
}

label {
  display: grid;
  place-items: center;
}

label > img {
  width: 20%;
}

#menu_close:checked ~ #menu_open {
  display: none;
}

#shop-body {
  display: grid;
  grid-template-rows: 140px 100px 1fr;
  background-image: url(/images/background2.jpg);
  background-size: contain;
  background-color: darkseagreen;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

main {
  margin-top: 75px;
}

#shop_toggle {
  display: grid;
}

#shop_nav {
  overflow-x: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -moz-column-gap: 15px;
       column-gap: 15px;
  width: 100vw;
  font-size: 2rem;
}
#shop_nav > label {
  padding: 10px;
  text-shadow: 2px 2px dodgerblue;
}

.nav_radio_button {
  display: none;
}

#category_brooms,
#category_potions,
#category_ingredients,
#category_spellbooks {
  display: none;
}

#brooms:checked ~ #shop_section > #category_brooms {
  display: grid;
  place-self: center;
}
#brooms:checked ~ #shop_section > #category_cauldrons {
  display: none;
}

#potions:checked ~ #shop_section > #category_potions {
  display: grid;
}
#potions:checked ~ #shop_section > #category_cauldrons {
  display: none;
}

#ingredients:checked ~ #shop_section > #category_ingredients {
  display: grid;
}
#ingredients:checked ~ #shop_section > #category_cauldrons {
  display: none;
}

#spellbooks:checked ~ #shop_section > #category_spellbooks {
  display: grid;
}
#spellbooks:checked ~ #shop_section > #category_cauldrons {
  display: none;
}

.description {
  padding: 20px;
  background-color: rgba(188, 188, 188, 0.6);
  text-shadow: 1px 2px steelblue;
}

.category {
  display: grid;
  place-items: center;
}

article {
  display: grid;
  justify-items: center;
  text-align: center;
  grid-template-rows: 1fr 335px;
  padding: 20px;
}

#shop_section img {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=shop.css.map */