@use "../general.scss/general" as g;

#top-header {
  display: grid;
  grid-template-rows: 110px 65px;

  height: fit-content;

  > #social-media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
    column-gap: 7px;

    height: fit-content;
    place-items: center
    ;

    > a{
      width: 60%;
    }
    > a:nth-child(1){
      justify-self: end;
    }
    > a:nth-child(3){
      justify-self: start;
    }
  }

  > img {
    width: 80%;
    text-align: center;
    justify-self: center;

    padding: 10px;
  }
}

// MEDIA QUERIES-------------------------

@media only screen and (min-width: 600px) {
  #top-header {
    grid-template-columns: 1fr 1fr;

    > #social-media {
      justify-self: end;
      align-self: center;
    }
  }
}
