@use "../general.scss/general" as g;




#top-header {
  display: grid;
  grid-template-rows: 110px 65px;
 
  height: fit-content;

  > #social-media {
    display: grid;
    grid-template-columns: 70px 70px 70px;
    justify-self: center;
    column-gap: 7px;

    height: fit-content;

    > p {
      text-align: center;
      background-color: g.$main-color;

      height: 20px;
      width: 20px;
      border-radius: 100px;
      padding: 2px;
    }
  }

  > img {
    width: 80%;
    text-align: center;
    justify-self: center;

    padding: 10px;
  }
}


